@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
	* {
		margin: 0;
		padding: 0;
		@apply font-sans;
	}
	h1 {
		font-weight: 100;
		font-size: 3em;
		padding: 0.25em;
		display: inline-block;
		line-height: 1;
	}
	header {
		white-space: nowrap;
		padding: 0.25em;
		text-align: center;
		box-sizing: border-box;
	}
	p {
		padding: 0.5em;
		margin: 0 1em;
		text-align: center;
		line-height: 1;
	}
	h1 a,
	h1 a:visited,
	h2 a,
	h2 a:visited {
		color: inherit;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	h2 {
		font-weight: 100;
		font-size: 2em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	@media screen and (min-width: 640px) {
		h1 {
			font-size: 4em;
		}
	}
}
